@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.header {
  width: 100%;
  height: 10vh;
  background-color: #171217;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  z-index: 100;
  border-bottom: 2px solid rgba(199, 199, 199, 0.401);
}

.title {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 12px;
  font-size: 3vw;
}

.accountsection {
  /* background-color: red; */
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  margin-right: 20px;
}

.btn {
  padding: 4px 12px;
  /* border: solid 1px black; */
  border: none;
  background-color: white;
  margin: 0 6px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1vw;
  color: black;
}

.searchbar {
  padding: 8px;
  font-size: 1.2vw;
  border-radius: 50px;
  border: none;
  background-color: #36263b;
}

.icon {
  margin: 0 8px;
  width: 40px;
  transform: translateY(30%);
  filter: invert(1);
}

.ingameheader {
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
  position: absolute;
  z-index: 100;
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.207);
  display: flex;
}

.ingameheadertitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 12px;
  font-size: 3vw;
}

.logo {
  margin-left: 6%;
  width: 15%;
  filter: invert(1);
}
