@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.header {
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.89);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  z-index: 100;
}

.title {
  font-size: 4vw;
  padding: 20px;
}

.accountsection {
  /* background-color: red; */
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  margin-right: 20px;
}

.btn {
  padding: 4px 12px;
  /* border: solid 1px black; */
  border: none;
  background-color: white;
  margin: 0 8px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.searchbar {
  padding: 8px;
  font-size: 1.2vw;
  border-radius: 50px;
  border: none;
}

.icon {
  margin-left: 32px;
  width: 40px;
  transform: translateY(30%);
}

.ingameheader {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
  position: absolute;
  z-index: 100;
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.207);
  display: flex;
}

.ingameheadertitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 12px;
  font-size: 3vw;
}

.logo {
  margin-left: 2%;
  width: 3%;
  filter: invert(1);
}
