.quizmakercontainer {
  background-color: #1f0f24;
  background-size: cover;
  padding-top: 8%;
  padding-left: 10%;
  height: 100%;
}
.quizdescriptioncontainer {
  display: flex;
  flex-direction: column;
}
.quizdescriptioncontainer h2 {
  font-weight: 200;
  color: #bf8fcc;
}
.quizdescriptioncontainer h2::after {
  content: "New Quiz";
  color: #ffffff;
}

.quizdescriptioncontainer input {
  width: 40%;
  margin: 12px 0;
}

.questionMakerContainer {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.questionMakerContainer input {
  width: 50%;
  margin: 8px 0;
}

input {
  padding: 14px;
  border-radius: 12px;
  font-size: 1.2vw;
  background-color: #2e1736;
  color: #bf8fcc !important;
  border: 1px solid #5c2e6b;
}

input::placeholder {
  color: #bf8fcc !important;
}

label {
  margin-top: 4px;
  color: white;
}

.descbox {
  padding-bottom: 10%;
}

.gifimginput::-webkit-file-upload-button {
  background: none;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #5c2e6b;
  color: #bf8fcc;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.gifimginput::-webkit-file-upload-button:hover {
  background-color: #201025;
}

.quizmakerbuttons {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.quizmakerbtn {
  width: 50%;
  font-size: 1.5vw;
  margin: 12px 0;
  padding: 16px;
  border: none;
  color: white;
  background-color: #2e1736;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.quizmakerbtn:hover {
  background-color: #4b2458;
}
.quizmakerbtn:nth-child(2) {
  background-color: #7e059f;
  margin-bottom: 4%;
}
.quizmakerbtn:nth-child(2):hover {
  background-color: #c803ff;
  transform: scale(1.01);
}
