body {
}

.page {
  width: 50vw;
  margin: 6%;
}
.createsection {
  width: 150vh;
}
.createbutton {
  margin-top: 20px;
  margin-left: 100%;
  white-space: nowrap;
  padding: 12px 16px;
  border: none;
  font-size: 1.2vw;
  border-radius: 20px;
  background-color: #9405bd;
  color: white;
}

.quizhub {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  /* height: 100%; */
  background-color: #171217;
  gap: 3%;
  place-items: center;
}

.mainquizwrapper {
  background-color: blue;
  width: 50vw;
}
.quizbg {
  position: relative;
  align-content: center;
}

.quizbg:hover .overlaybutton {
  opacity: 1;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quizbg:hover .quizbgimg {
  opacity: 0.3;
}
.overlaybutton {
  font-family: "DM Sans", sans-serif;
  position: absolute;
  border-radius: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 12px 16px;
  font-size: 1.2vw;
  font-weight: 600;
  background-color: #9405bd;
  color: #ffffff;
  border: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.quizbgimg {
  width: 250px;
  height: 150px;
  background-position: center;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.startoverlay {
  align-self: center;
  position: absolute;
  transform: translateX(-150px) translateY(100%);
  width: 50px;
  opacity: 0;
  transition: opacity 0.4s ease;
  cursor: pointer;
  filter: invert(1);
}

.btn {
  overflow: hidden;
  position: relative;
  padding: 4px 12px;
  background-color: rgba(235, 235, 235, 0.797);
  border: none;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 8px;
  z-index: 1;
  transition: all 0.2 ease-in-out;
}

.btn::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 235, 235, 0.797);
  left: 0;
  top: 0;
  z-index: -1;
  transition: transform 0.3s;
  transform-origin: 0 0;
}

.btn1::before {
  transform: scaleX(0);
}

.btn1:hover::before {
  transform: scaleX(1);
}

.startbtn {
  padding: 4px 12px;
  /* border: solid 1px black; */
  background-color: rgba(20, 223, 57, 0.674);
  /* margin: 0 12px; */
  border: none;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 8px;
}

.overlay {
  position: absolute;
  background: rgba(31, 31, 31, 0.366);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagewrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.449);
}

.popupbg {
  background-position: left;
  object-fit: cover;
  object-position: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.popup {
  display: flex;
  overflow: hidden;
  border-radius: 40px;
  position: fixed;
  width: 20%;
  height: 60%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: white;
  flex-direction: column;
}

.popupinfo {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.difficulty::after {
  content: "Medium";
  color: orange;
}

.close {
  position: absolute;
  width: 10%;
  right: 0;
  margin: 12px;
  background-color: rgba(126, 126, 126, 0.49);
  border-radius: 50%;
  filter: invert();
  opacity: 0.9;
  cursor: pointer;
}

.seconds {
  margin-right: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: rgb(189, 189, 189);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
}

.slider::before {
  position: absolute;
  content: "";
  align-content: center;
  font-size: 0.8vw;
  text-align: center;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
}

input:checked + .slider::before {
  transform: translateX(16px);
}

input:checked + .slider {
  background-color: #7cf46f;
}
