* {
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
}
